@page "/"
@rendermode InteractiveServer

<h1>Attendance Recorder</h1>

<div class="d-flex gap-4 align-items-start">
    <div>
        <YearList SelectedYearChanged="ChangeYear"/>
    </div>
    <div>
        <WeekList Year="_selectedYear" SelectedWeekChanged="ChangeWeek"/>
    </div>
    <div>
        <DateList Year="_selectedYear" Week="_selectedWeek" SelectedDateChanged="ChangeDate"/>
    </div>
    <div>
        <WorkingDay Date="_selectedDate"></WorkingDay>
    </div>
</div>

@code {
    private int? _selectedYear;
    private int? _selectedWeek;
    private DateOnly? _selectedDate;

    private void ChangeYear(int year)
    {
        _selectedYear = year;
    }

    private void ChangeWeek(int week)
    {
        _selectedWeek = week;
    }

    private void ChangeDate(DateOnly date)
    {
        _selectedDate = date;
    }
}