@inject ApiClient ApiClient

<h2>Working Day</h2>

@if (_workingDay == null)
{
    <p>Loading working day...</p>
}
else
{
    <table>
        <tbody>
            @foreach (var interval in _workingDay.Intervals)
            {
                <tr class="@(interval.IsActive ? string.Empty : "text-gray")">
                    <td>@interval.Start</td>
                    <td> ... </td>
                    <td>@interval.End</td>
                    <td>@(interval.IsActive ? " (active) " : " (inactive) ")</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    [Parameter] public DateOnly? Date { get; set; }

    private DateOnly? _loadedDate;
    private WorkingDayDto? _workingDay;

    protected override async Task OnParametersSetAsync()
    {
        if (Date == null)
        {
            _loadedDate = null;
            return;
        }

        if (_loadedDate != Date)
        {
            _workingDay = await ApiClient.GetWorkingDayAsync(Date.Value.ToDateTime(TimeOnly.MinValue));
            _loadedDate = Date;
        }
    }
}