@using AttendanceRecorder.Client
<h3>Years</h3>

@if (_years == null)
{
    <p>Loading years</p>
}
else
{
    <ul>
        @foreach (var year in _years)
        {
            <li>@year</li>
        }
    </ul>
}

@code {
    private IEnumerable<int>? _years;

    protected override async Task OnInitializedAsync()
    {
        await Task.Yield();

        var apiClient = new ApiClient(" http://localhost:5225", new HttpClient());
        _years = await apiClient.YearsAsync();
    }
}