@import "Styles.css";

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
}

.content {
    min-height: 100vh;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--bs-light);
}
