@import "tailwindcss";
@plugin "daisyui";

@layer base {
  h1 {
    @apply text-4xl font-bold mb-4;
  }
  
  h2 {
    @apply text-2xl font-bold mb-2;
  }
}

#root {
  max-width: 1024px;
  margin: 0 auto;
}

